<div class="paginator">
    <div>
        {{ page.count }} object{{ page.count|pluralize }}
    </div>
    <div class="years">
        {% for year in page.years %}
        <div class="span-1">
            <a href="{{ year.get_absolute_url }}" {% ifequal page.year year %}class="selected"{% endifequal %}>
                {{ year }}
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="months">
        {% for month in page.year.months %}
        <a href="{{ month.get_absolute_url }}" {% ifequal page.month month %}class="selected"{% endifequal %}>
            {{ month.date|date:"N" }}
        </a>
        {% endfor %}
    </div>
    {% if page.selector.month %}
    <div class="days">
        {% for day in page.month.days %}
        <a href="{{ day.get_absolute_url }}" {% ifequal page.day day %}class="selected"{% endifequal %}>
            {{ day }}
        </a>
        {% endfor %}
    </div>
    {% endif %}
</div>
